<img src="/assets/brunavs/a0txc-hgjps.jpg" width="200" (click)="showGallery(0)">
<img src="/assets/brunavs/a26go-cewpm.jpg" width="200" (click)="showGallery(1)">
<img src="/assets/brunavs/a7oqr-bl83z.jpg" width="200" (click)="showGallery(2)">
<img src="/assets/brunavs/a8skb-9a3jo.jpg" width="200" (click)="showGallery(3)">
<img src="/assets/brunavs/ab45w-8fidg.jpg" width="200" (click)="showGallery(4)">
<img src="/assets/brunavs/allv2-1opd2.jpg" width="200" (click)="showGallery(5)">
<img src="/assets/brunavs/anmnp-xgcdt.jpg" width="200" (click)="showGallery(6)">
<img src="/assets/brunavs/anor7-ppxmp.jpg" width="200" (click)="showGallery(7)">
<img src="/assets/brunavs/ao3kg-ih322.jpg" width="200" (click)="showGallery(8)">
<img src="/assets/brunavs/aqqsl-wgxwe.jpg" width="200" (click)="showGallery(9)">
